{% extends "base.html" %}

{% block content %}
<h1>Add a Blog Entry</h1>

<!--it looks like that this page should only have the blogs posting and not submitting forms-->
<form action="/blog" method="post">
     
    <table>
        <tr>
            <td><label for="Title for your new blog:">Title for your new blog:</label></td>
            <td>
                <input name="Title for your new blog:" type="Title for your new blog:" value="{{ Title for your new blog: }}">
            </td>
        </tr>
        <tr>
            <td><label for="Your new blog:">Your new blog:</label></td>
            <td>
                <input name="Your new blog:" type="Your new blog:">
            </td>
        </tr>
    </table>
    <input type="submit" value="Add Entry">
</form>
{% endblock %}